<thead>
    {% for field in cfg_fields %}
        <th>{{ field }}</th>
    {% endfor %}
</thead>
<tbody>
    {% for key, values in select_set.items %}
        <td>
            {% with key|add:"_list" as select_id %}
            <select name="{{ select_id }}" id="{{ select_id }}" class="form-control">
                {% for value in values %}
                    <option value="{{ value }}"> {{ value }} </option>
                {% endfor %}
            </select>
            {% endwith %}
        </td>
    {% endfor %}
</tbody>