{% extends "mycapbase.html" %}


{% block mycap_current_position %}
	<h3>The current position：<a href="{% url 'index' %}">Home</a><span>&gt;</span>realmonitor</h3>
{% endblock %}

{% block mycap_content %}
<!-- Inner Container Start -->
	<section class="group bd5">
        <section class="box m1 m3">
            <div class="titlebar p3">
            	<h2>Parameter setting</h2>
            </div>
        </section>
        <section class="box m1 m3">

            <table class="table tableborder tdh1">
                <tr>
                    <td>Start date</td>
                    <td class="inu1"><input value="2014-09-06" name="start_date"></td>
                    <td>End date</td>
                    <td class="inu1"><input value="2014-09-18" name="end_date"></td>
                </tr>

                <tr>
                    <td nowrap>Choice of contract</td>
                    <td nowrap>
                        <select name="contract_list">
                            <option value="IF" selected>IF</option>
                            <option value="dla">DLa</option>
                            <option value="shru">SHru</option>
                            <option value="zzcf">ZZcf</option>
                        </select>
                    </td>
                    <td nowrap>The selection of speed</td>
                    <td nowrap>
                        <select name="speed_list">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4" selected>4</option>
                            <option value="5">5</option>
                        </select>
                    </td>
                </tr>

                <tr align="center">
                    <td nowrap>&nbsp;</td>
                    <td nowrap><input type="submit" class="btnstart" name="start_run" value="Start" /> </td>
                    <td nowrap><input type="submit" class="btnrestart" name="restart" value="Restart" /> </td>
                    <td nowrap>&nbsp;</td>
                    <td nowrap>&nbsp;</td>
                </tr>
            </table>

        </section>
	</section>
   
<!-- Inner Container End -->
{% endblock %}
